// Everforest Dark Hard Palette
// Background
$black: #293136;
$dark-gray-1: #333C43;
$dark-gray-2: #3A464C;
$gray: #434F55;
$light-gray-1: #4D5960;
$light-gray-2: #555F66;
$green-gray: #5D6B66;
$purple: #5C3F4F;
$red: #59464C;
$green: #48584E;
$blue: #3F5865;
$yellow: #55544A;
// Foreground
$white: #D3C6AA;
$fg-red: #E67E80;
$fg-orange: #E69875;
$fg-yellow: #DBBC7F;
$fg-lime: #A7C080;
$fg-cyan: #83C092;
$fg-blue: #7FBBB3;
$fg-purple: #D699B6;
$fg-dark-gray: #7A8478;
$fg-gray: #859289;
$fg-light-gray: #9DA9A0;
