// Tokyo Night Storm Palette
$black: #24283b;
$dark-gray: #414868;
$gray: #565f89;
$light-gray-darker: #9aa5ce;
$light-gray-lighter: #a9b1d6;
$white: #c0caf5;
$magenta: #bb9af7;
$blue: #7aa2f7;
$cyan: #7dcfff;
$vivid-blue: #2ac3de;
$light-green: #b4f9f8;
$green: #73daca;
$vivid-green: #9ece6a;
$pale-yellow: #cfc9c2;
$yellow: #e0af68;
$orange: #ff9e64;
$red: #f7768e;
