@use "../palette" as p;

.Avatar {
  background-color: p.$black;
  border-radius: 12px;

  .AvatarImg {
    // Can't sort out a better method...
    background-image: url("/home/ckgxrg/Pictures/abstract-ckgxrg.jpg");
    background-size: 240px 240px;
    border-radius: 128px;
  }
}

.CoffeeDrunk {
  font-size: 16px;
  background-color: p.$dark-gray;
  color: p.$yellow;
  border-radius: 25px;
}

.CoffeeZzz {
  font-size: 16px;
  background-color: p.$dark-gray;
  color: p.$cyan;
  border-radius: 25px;
}
