@use "../palette" as p;
@use "sass:color";

.Dock {
  .SysTray {
    margin: 10px 0 10px 10px;
    background-color: color.change(p.$dark-gray-2, $alpha: 0.5);
    border: solid color.change(p.$dark-gray-2, $alpha: 0.7) 5px;
    border-radius: 12px;

    button {
      all: unset;
      margin: 5px 5px 5px 5px;
      background-color: color.change(p.$light-gray-1, $alpha: 0.7);
    }
  }

  .Memory {
    margin: 10px 10px 10px 5px;
    padding-left: 10px;
    background-color: color.change(p.$yellow, $alpha: 0.5);
    border: solid color.change(p.$yellow, $alpha: 0.7) 5px;
    border-radius: 12px;

    button {
      all: unset;
      margin-right: 5px;
    }
  }
}
