@use "../palette" as p;
@use "sass:color";

.MediaServices {
  button {
    font-size: 48px;
    margin: 10px 10px 10px 10px;
    border-radius: 12px;
  }

  .CavaInactive {
    color: color.change(p.$light-gray-1, $alpha: 0.3);
    background-color: color.change(p.$light-gray-1, $alpha: 0.3);
    border: solid color.change(p.$light-gray-1, $alpha: 0.5) 10px;
  }

  .CavaActive {
    background-color: color.change(p.$purple, $alpha: 0.5);
    border: solid color.change(p.$purple, $alpha: 0.7) 10px;
  }

  .MPDInactive {
    color: color.change(p.$light-gray-2, $alpha: 0.3);
    background-color: color.change(p.$light-gray-2, $alpha: 0.3);
    border: solid color.change(p.$light-gray-2, $alpha: 0.5) 10px;
  }

  .MPDActive {
    background-color: color.change(p.$yellow, $alpha: 0.5);
    border: solid color.change(p.$yellow, $alpha: 0.7) 10px;
  }
}
