@use "../palette" as p;

.Media {
  background-color: p.$black;
  border-radius: 12px;

  .Switchers {
    border-bottom-width: 0;
    border-radius: 12px;

    button {
      all: unset;
    }
  }

  .NotFound {
    border-top-width: 0;
    border-radius: 12px;
  }

  .MediaPlayer {
    border-top-width: 0;
    border-radius: 12px;

    .CoverArt {
      margin: 10px 10px 10px 10px;
      background-color: p.$gray;
      background-size: cover;
    }

    .Progress {
      margin: 10px 10px 0 10px;

      slider {
        all: unset;
      }

      trough {
        min-height: 50px;
        border-radius: 14px;
      }

      highlight {
        all: unset;
        border-radius: 14px;
        background-color: p.$blue;
      }
    }

    .Actions {
      margin: 10px 10px 10px 10px;

      button {
        all: unset;
      }
    }
  }
}
