@use "../palette" as p;
@use "sass:color";

.QuoteContainer {
  background-color: p.$black;
  border-radius: 12px;

  .QuoteButton {
    all: unset;
    border-right: dashed p.$light-gray-darker 2px;
  }
}
