@use "../palette" as p;
@use "sass:color";

.Clock {
  margin: 10px 10px 10px 10px;
  background-color: color.change(p.$green, $alpha: 0.5);
  border: solid color.change(p.$green, $alpha: 0.7) 10px;
  border-radius: 12px;

  label {
    margin: 0 0 0 8px;
  }
}

.Battery {
  margin: 10px 10px 10px 10px;
  background-color: color.change(p.$green-gray, $alpha: 0.5);
  border: solid color.change(p.$green-gray, $alpha: 0.7) 10px;
  border-radius: 12px;

  circularprogress {
    font-size: 5px;
    min-width: 96px;
  }

  circularprogress.ProgLow {
    color: p.$fg-orange;
  }

  circularprogress.ProgCrit {
    color: p.$fg-red;
  }

  circularprogress.ProgCharging {
    color: p.$fg-cyan;
  }
}
