@use "../palette" as p;

.TrayButton {
  font-size: 96px;
  background-color: p.$black;
  border-radius: 12px;
}

.SysTray {
  background-color: p.$black;
  border-radius: 12px;
  padding: 20px;

  .TrayUpper {
    border-bottom: dashed p.$light-gray-darker 2px;
  }

  button {
    background-color: p.$dark-gray;
  }
}
