@use "../palette" as p;

.WeatherButton {
  all: unset;
  font-size: 96px;
  background-color: p.$black;
  border-radius: 12px;
}

.Weather {
  background-color: p.$black;
  border-radius: 12px;

  .Location {
    all: unset;
    border-bottom: dashed p.$light-gray-darker 2px;
  }
}
