@use "../palette" as p;

.Buttons {
  button {
    border-radius: 0;
    border: solid p.$black 2px;
    font-size: 96px;
  }

  .Power {
    background-color: p.$red;
  }

  .Close {
    background-color: p.$orange;
  }

  .CavaInactive {
    background-color: p.$light-gray-lighter;
  }

  .CavaActive {
    background-color: p.$magenta;
  }

  .MPDInactive {
    background-color: p.$light-gray-darker;
  }

  .MPDActive {
    background-color: p.$vivid-blue;
  }
}
