@use "../palette" as p;
@use "sass:color";

.BarMedia {
  margin: 5px 0 5px 0;

  .BarTitle {
    background-color: color.change(p.$light-gray-1, $alpha: 0.5);
    border: solid color.change(p.$light-gray-1, $alpha: 0.7) 3px;
    font-size: 24px;
    border-bottom: none;
    border-radius: 3px;
  }

  .BarPlayer {
    background-color: color.change(p.$light-gray-1, $alpha: 0.5);
    border: solid color.change(p.$light-gray-1, $alpha: 0.7) 3px;
    border-top: none;
    border-radius: 3px;

    .PlayPause {
      all: unset;
      margin: 5px 5px 5px 5px;
      background-color: color.change(p.$light-gray-2, $alpha: 0.5);
      border-radius: 3px;

      &:hover {
        background-color: color.change(p.$blue, $alpha: 0.9);
      }
    }
  }

  .Position {
    font-size: 16px;
    margin-right: 5px;
  }
}
