@use "../palette" as p;
@use "sass:color";

.BarSliders {
  margin: 5px 0 5px 0;
  border-radius: 12px;

  slider {
    all: unset;
    min-width: 20px;
  }

  trough {
    margin: unset;
    min-height: 100px;
    min-width: 20px;
    border-radius: 14px;
  }

  highlight {
    all: unset;
    border-radius: 14px;
  }

  .BarAudioIcon {
    all: unset;
    margin: 0 0 5px 0;
    background-color: color.change(p.$blue, $alpha: 0.5);
    border: solid color.change(p.$blue, $alpha: 0.7) 3px;
    border-radius: 3px;
    font-size: 24px;

    &:hover,
    &:active {
      background-color: color.change(p.$blue, $alpha: 0.9);
    }
  }

  .BarBrightIcon {
    all: unset;
    margin: 0 0 5px 0;
    background-color: color.change(p.$yellow, $alpha: 0.5);
    border: solid color.change(p.$yellow, $alpha: 0.7) 3px;
    border-radius: 3px;
    font-size: 16px;

    &:hover,
    &:active {
      background-color: color.change(p.$yellow, $alpha: 0.9);
    }
  }

  .BarAudio {
    background-color: color.change(p.$blue, $alpha: 0.5);
    border: solid color.change(p.$blue, $alpha: 0.7) 3px;
    border-bottom: none;
    margin: 5px 0 0 0;

    highlight {
      background-color: color.change(p.$white, $alpha: 0.8);
    }
  }

  .BarBright {
    background-color: color.change(p.$yellow, $alpha: 0.5);
    border: solid color.change(p.$yellow, $alpha: 0.7) 3px;
    border-bottom: none;
    margin: 5px 0 0 0;

    highlight {
      background-color: color.change(p.$white, $alpha: 0.8);
    }
  }
}
