@use "../palette" as p;
@use "sass:color";

.Barkspaces {
  margin: 5px 0 15px 0;
  background-color: color.change(p.$light-gray-2, $alpha: 0.5);
  border: solid color.change(p.$light-gray-2, $alpha: 0.7) 3px;
  border-radius: 12px;
  padding: 5px 0 5px 0;

  button {
    all: unset;
    margin: 5px 10px 5px 10px;
    background-color: color.change(p.$blue, $alpha: 0.5);
    border-radius: 10px;

    &:active {
      background-color: color.change(p.$blue, $alpha: 0.9);
    }
  }

  .focused {
    background-color: color.change(p.$blue, $alpha: 0.9);
  }
}
